/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
#input {
    font-size: 25px;
}

.select {
    width: 80%;
    font-size: 25px;
}

#button1 {
    width: 50px;
    margin-right: 20px;
}

#button2 {
    width: 50px;
}